on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
        - java: 21
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: sbt -v scalafmtSbtCheck scalafmtCheckAll "scalafixAll --check" test publishLocal scripted
    - if: always()
      run: rm -rf "$HOME/.ivy2/local" || true
